@import 'bourbon';
@import 'neat';
@import 'font-awesome';
@import 'sweetalert';
@import 'foundation';

$grayColor: #333333;
$blueColor: #2C3E5C;
$textColor: #C1C9BF;

* {
  list-style: none;
}

body {
  background: $blueColor;
}

.landingPage { 
  width: 100%;
  height: 100vh;
  background: url('../images/colin.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  button{
    border: 1px solid $grayColor;
    background: $grayColor;
    width: 25%;
    position: relative;
    top: 12em;
    left: 6em;
    display: block;
    &:hover {
      background: #0A41A0;
    }
  }
}

.logInPage {
  width: 100%;
  height: 100vh;
  background: url('../images/colin.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  input, button{
    border: 1px solid $grayColor;
    margin-left: 2em;
    width: 25%;
    position: relative;
    top: 9em;
  }
  button{
    background: $grayColor;
    margin-left: 1.8em;
    &:hover {
      background: #0A41A0;
    }
  }
}

.createAcct {
  width: 100%;
  height: 100vh;
  background: url('../images/colin.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  input, button{
    border: 1px solid $grayColor;
    margin-left: 2em;
    width: 25%;
    position: relative;
    top: 9em;
  }
  button{
    background: $grayColor;
    margin-left: 1.8em;
    &:hover {
      background: #0A41A0;
    }
  }
}

.addNew {
  width: 500px;
  margin: 15px auto;
}

.editEntry{
  width: 500px;
  margin: 15px auto;
  span{
    color: $textColor;
  } 
}

.userHomePage {
  @include outer-container;
  margin-left: 1%;
  margin-top: 2%;
}
.leftBar{
  @include span-columns(3);
  span{
    color: red;
  }
  button {
    margin-top: 5em;
    background: $grayColor;
  }
}
.rightBar{
  @include span-columns(9);
  padding-left: 2em;
  border-left: 3px solid $grayColor;
  color: $textColor;
  .block {
    display: inline-block;
  }
  img {
    height: 10em;
    width: 30%;
    position: relative;
    bottom: 5.5em;
  }
  .editButton {
    margin-left: 2em;
    position: relative;
    bottom: 5em;
    a{
      color: inherit;
    }
    i{
      color: black;
    }
  }
  div.description{
    font-size: 3em;
    margin-left: 1em;
    width: 8em;
    height: 4em;
    overflow: scroll;
    whitespace: no-wrap;
  }
}

.singleRiverPage{
  @include outer-container;
  margin-left: 1%;
  margin-top: 1%;
  max-width: 77em;
}

.rtLeft{
  float: left;
  margin-left: 1em;
  span{
    color: $textColor;
  }
}
.rtRight{
  float: right;
  margin-right: 1em;
  span {
    color: yellow;
  }
}

.singleRiv{
  .singleRiverPhoto{
    position: relative;
    bottom: 5.2em;
  }
  .block{
    display: inline-block;
  }
  img{
    width: 50%;
    height: 17em; 
  }
  ul.block{
    font-size: 1.6em;
    max-width: 45%;
    span{
      color: $textColor;
    }
  }
  .rivDescription{
    position: relative;
    bottom: 4.5em;
    color: $textColor;
    font-size: 1.2em;
    margin-top: 2%;
    padding: 2%;
    border: 2px solid $grayColor;
  }
}

.votes {
  position: relative;
  top: 2em;
  margin-left: 2em;
  span{
    color: red;
  }
  button {
    text-align: center;
    display: block;
    background: none;
    padding: 1em;
    border: 3px solid $grayColor;
    border-radius: 5px;
    &:hover{
      color: $grayColor;
      background: $textColor;
    }
  }
}






