<div class="editEntry">
  <form ng-submit="editRiver(singleRiver)">
    <span>Photo Url:</span><input ng-model="singleRiver.photo">
    <span>River Name:</span><input ng-model="singleRiver.name">
    <span>River Location:</span><input ng-model="singleRiver.location">
    <span>Class:</span><input ng-model="singleRiver.class">
    <span>Water Level:</span><input ng-model="singleRiver.level">
    <span>Date Paddled:</span><input ng-model="singleRiver.date">
    <span>Boat Used:</span><input ng-model="singleRiver.boat">
    <span>Other Equipment Used:</span><input ng-model="singleRiver.equipment">
    <span>Personal Description:</span><textarea ng-model="singleRiver.description"></textarea>
    <button>Submit Changes</button>
    <a href="#/userHomePage"><button>Cancel</button></a>
  </form>
</div>