<div class="editEntry">
  <form ng-submit="editRiver(singleRiver)">
    <input ng-model="singleRiver.photo">
    <input ng-model="singleRiver.name">
    <input ng-model="singleRiver.location">
    <input ng-model="singleRiver.class">
    <input ng-model="singleRiver.level">
    <input type="date" ng-model="singleRiver.date">
    <input ng-model="singleRiver.userRating">
    <textarea ng-model="singleRiver.description"></textarea>
    <button>Submit Changes</button>
    <a href="#/userHomePage"><button>Cancel</button></a>
  </form>
</div>