<div class="userHomePage">

  <div class="leftBar">
    <ul>
      <li>User Name Here</li>
      <li><hr></li>
      <li><h5>Most Recent Rivers</h5></li>
      <li ng-repeat="river in rivers"> {{ river.name}}</li>
    </ul>
  </div>


  <div class="rightBar">
    <a href="#/singleRiver/{{ river.objectId }}" ng-repeat="river in rivers">
      <div class="tile">
        <h3>{{ river.name }}</h3>
        <p>Date Paddled: {{ river.date }}</p>
        <img class="userHomePhoto" ng-src="{{ river.photo }}">
        <img class="plusButton" ng-src="https://cdn4.iconfinder.com/data/icons/e-commerce-icon-set/48/More_2-128.png">
        <hr>
      </div>
    </a>
    
    <button ng-click="goToAddRiverClick()">Add New River</button>
  </div>

  
</div>