<div class="userHomePage">

  <div class="leftBar">
    <ul>
      <li>User Name Here</li>
      <li> You have logged <span>{{ riverDays }}</span> River Days <li>
      <li> Keep it up!</li>
      <li><hr></li>
      <li><h5>Most Recent Rivers</h5></li>
      <li ng-repeat="river in rivers"> <a href="#/singleRiver/{{ river.objectId }}">{{ river.name }}</a></li>
    </ul>
  </div>


  <div class="rightBar">
    <div class="tile" ng-repeat="river in rivers">

      <a href="#/singleRiver/{{ river.objectId }}" >
        <h2>{{ river.name }}</h2>
      </a>
      
      <a href="#/singleRiver/{{ river.objectId }}" >
        <img class="block userHomePhoto" ng-src="{{ river.photo }}">
      </a>

      <div class="block description">
        <p>{{ river.description }}</p>
      </div>

      <div class="block editButton">
        <a href="#/editRiver/{{ river.objectId }}"><i class="fa fa-pencil-square-o fa-3x"></i></a>
      </div>
      <hr>
    </div>
    
    <a href="#/addNewRiver"><button>Add New River</button></a>
  </div>

  
</div>